*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: hsl(208, 11%, 55%);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.025rem;
  min-height: 100vh;
}

/* TYPOGRAPHY */

h1,h2{
  font-family: 'Poppins', sans-serif;
  color: hsl(192, 100%, 9%);
  margin-bottom: 0;
}


.huddle-p{
  color: hsl(192, 100%, 9%);
}


.main-positioned > h2{
  margin-bottom: 1.25em;
}


/* LAYOUT */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('images/bg-hero-mobile.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: hsl(193, 100%, 96%);
  padding: 0 1.25em 1.875em;
  margin-bottom: 2.5em;
}


.hero-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.875em; 
}
 

.container{
  margin: 0 auto;
  padding: 1.75em 2.75em;
}


.hero-section-content {
  margin: 3.75em 0 3.125em 0;
  text-align: center;
}


.main-container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.main {
  display: flex;
  flex-direction: column;
  padding: 1.125em 1.56em;
  margin: 2.19em 1.56em;
  border-radius: 20px;
  box-shadow: 0 4px 10px 3px rgba(173, 169, 169, 0.2); 
}


.main-content {
  text-align: center;
  padding: 0 0.625em;
}


.positioned-margin{
    margin-bottom: 17.125em;  
}


.main-positioned{
  position: absolute;
  left: 50%;
  bottom: -5.94em;
  transform: translateX(-50%);
  width: 330px;
  border-radius: 20px;
  text-align: center;
  padding: 1.875em 2.56em;
  background-color: white;
  box-shadow: 0 4px 7px 4px rgba(173, 169, 169, 0.2), 0 6px 20px 0 rgba(202, 198, 198, 0.082); 
}


.footer {
  background-color: hsl(192, 100%, 9%);
  color: white;
  padding:  5em 1.25em 3.125em 1.875em;
}


.footer-contact{
    margin-top: 6.25em; 
}


.footer-ci {
  display: flex;
  align-items: center;
  gap: 20px;
}


.footer-ci-l {
  margin-left: 0.81em;
}


.white-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  padding: 0.8125em;
  border-radius: 100%;
  font-size: 1.875rem;
}


.footer-socials {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.footer-copyright {
  margin-top: 4.375em;
  display: flex;
  align-items: center;
  gap: 2px;
}


/* BUTTONS */
button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  cursor: pointer;
}


.try-btn {
  border-radius: 1.25em;
  padding: 0.7em 2.8em;
  margin-left: auto;
  border: none;
  background-color: white;
  color: hsl(192, 100%, 9%);
  font-size: 0.9rem;
  box-shadow:  0 4px 8px 3px rgba(173, 169, 169, 0.2);;
}


.try-btn:focus,
.try-btn:hover{
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-image: linear-gradient(to right, #f5ce62, #e43603, #e85a19);
  box-shadow: 0 4px 6px 0 rgba(229, 66, 10, 0.75);
  color: #fff;
}


.rounded{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  border-radius: 1.875em;
  background-color: hsl(322, 100%, 66%);
  color: white;
  border: none;
  margin-bottom: 0.625em;
  padding: 1.2em 2.8em;
}


.rounded:focus,
.rounded:hover{
  background-color: #fe5d9f;
}


/* IMAGES,LOGO & ICONS */

img{
  max-width: 100%;
}


.footer-logo {
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(184deg)
    brightness(104%) contrast(101%);
}


.socials-icons{
  display: flex;
  justify-content: center;
  gap: 20px;
}



/* MEDIA QUERY */
@media(max-width: 468px){
  .logo{
    max-width: 7.6em;
  }

  .hero-header > button{
    padding: 0.4em 0.9em;
  }

  .main{
    width: 100%;
    max-width: 570px;
  }
}


@media (min-width: 768px){
  body{
      font-size: 0.95rem;
  }

  .hero-section{
      display: flex;
      justify-content: space-between;
      margin-top: 2.1em;
  }


  .hero-section-img-container{
      width: 60%;
  }


  .hero-section-content{
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      text-align: left;
  }


  .rounded{
    margin-top: 1.05em;
  }


  .main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px 40px 80px;
  }

  .main-img-container{
    width:35%;
  }

  .main-content{
    width: 55%;
    text-align: left;
  }

  .order{
    order: 1;
  }

  .main-positioned{
    width: 550px;
  }

  .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  6em 8em 5em;
  }

  .footer-contact{
    width: 30%;
  }


  .footer-socials{
    align-items: flex-start;
  }

  .footer-copyright{
    margin-top: 120px;
  }
}
